@charset "utf-8";
/* CSS Document */
body, html {
  height: 100%;
}

.menu {
	text-decoration: none;
	color: white;
}
nav{
	background-color:#000000;
	border:1px;
	border-color:#000000;
	padding: 0.15%;
}

nav li:hover {
	background-color:#083F7D;
}
	
nav ul {
	border-radius: 15px;
	text-align: center;
	list-style: none;
}

nav ul li {
	display: inline-block;
	padding: 1% 2%;
	font-family: 'Titillium Web', sans-serif;
	font-size:110%;
	color:white;
}

.headerImg {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h1 {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	text-transform: uppercase;
	text-align: center;
	font-family: Helvetica;
	font-size: 75px;
}

h2 {
	padding: 0;
  	margin: 0;
  	text-transform: uppercase;
  	text-align: center;
  	font-family: Helvetica;
}

.homeText {
	width: 100%;
	position: relative;
	text-align: center;
	font-family: Helvetica;
	margin: auto;
	font-size: 20px;
}
.aboutText
{
	width: 100%;
	position: relative;
	text-align: center;
	font-family: Helvetica;
	margin: auto;
	font-size: 15px;
}
.text {
	width: 100%;
	position: relative;
	text-align: center;
	font-family: Helvetica;
	font-size: 30px;
}
.content {
  	height: 500px;
  	background: #ededed;
  	position: relative;
  	z-index: 999999;
  	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

#GraphContent {
	height: 120%;
}
#homeContent {
	height: 100%;
}

.graph{
	width: 60%;
	height: 20vh;
	display: block;
	overflow: hidden;
	background-color: #ededed;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF363646', endColorstr='#FF2A2A3A');
    background-size: 100%;
	margin-bottom: 20px;
	text-align: center;
}
#graph1, #graph2, #graph3, #graph4, #graph1Text, #graph2Text, #graph4Text {
	z-index: 999999;
	position: absolute;
	background-color: #ededed;
	transform: translate(-50%,-50%);
}
#graph1 {
	left: 50%;
	top: 15%;
}
#graph1Text {
	left: 50%;
	top: 26%;
	width: 60%;
	z-index: 999;
}
#graph2 {
	left: 50%;
	top: 38%;
}
#graph2Text {
	left: 50%;
	top: 50%;
	width: 60%;
	z-index: 9999;
}
#graph3 {
	left: 50%;
	top: 63%;
}
#graph4Text {
	left: 50%;
	top: 75%;
	width: 60%;
	z-index: 9999;
}
#graph4 {
	left: 50%;
	top: 89%;
}
.twitter {
	position: relative;
	left: 10%;
}
.fileIcon {
	width: 7%;
}
#resources {
	right: 50%;
}
.mySlides, .roleSlide {
	display: none;	
	width: 100%;
	height: auto;

}
.roleModelSlide {
	background-color: black;
	overflow: hidden;
	margin: auto;
}
.imageSlide {
	background-color: black;
	margin: auto;
	overflow: hidden;
}
.column {
	float: left;
	width: 50%;
	padding: 10px;
	box-sizing: border-box;
	height: 550px;
}
.row:after {
	content: "";
	display: table;
	clear: both;
	box-sizing: border-box;
}
.columnText {
	text-align: center;
	font-family: Helvetica;
	width: 70%;
	margin: auto;
	padding: 10%;
}
